:root{
    --main-bg: #142536;
    --border:  #405265;
}
html, body{
    font-size: 14px;
    font-family: Tahoma, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
}

.wrapper{
   max-width: 1300px;
   margin: auto;
   border-radius: 10px;
   box-shadow: 0px 0px 5px 0px rgb(238,238,240);
}
.header-block{
    padding: 30px 45px;
}
.header-block__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #8a7c5d;
}
.header-block__items{
    margin-right: 15px;
}
.header-block__user{
    padding-left: 24px;
    background: url(../img/header/4.png) no-repeat 0 center;
}
.header-block__h{
    font-size: 2.15rem;
    font-weight: normal;
    margin: 15px 0 8px 0;
}
.header-block__content{
    max-width: 440px;
    margin: 0;
}
.block-image img{
    max-width: 100%;
    display: block;
}
.slider-block__item{
    color: #fff;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}
.slider-block{
    background: var(--main-bg);
}
.slider-block__header{
    padding: 0 45px;
    position: relative;
}

.slider-block__header__text{
    margin: 0;
    font-weight: normal;
    font-size: 1.6rem;
    padding: 30px 20px 30px 0;
}
.slider-block__item.active {
    border: 0;
}
.slider-block__item.active .slider-block__header__text{
    border-bottom: 1px solid var(--border);
}
.slider-block__item.active .slider-block__header__text::before{
    transform: rotate(180deg);
}
.slider-block__header__text::before{
    content: '';
    display: block;
    position: absolute;
    right: 45px;
    top: 35px;
    width: 16px;
    height: 9px;
    background: url(../img/footer/1.png) no-repeat 0 0 /contain;
    transform: rotate(0deg);
    transition: transform 100ms ease-out;
}
.slider-block__content{
    font-size: 16px;
    padding: 10px 160px 26px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    overflow: hidden;
    
}
.slider-block__animate{
    display: none;
}
.slider-block__text{
    max-width: 700px;
    cursor: pointer;
}
.slider-block__link{
    color: #5a88c1;
    text-decoration: none;
    border-bottom: 1px dashed #5a88c1;
}
.slider-block__text p{
    margin: 0 0 40px 0;
}
.slider-block__text p:last-child{
    margin-bottom: 0;
}
.slider-block__text2 p{
    margin-bottom: 40px;
}
.slider-block__text__form *{
    cursor: pointer;
}
.slider-block__text__form input{
    background: none;
    outline: none;
    border: none;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.slider-block__text__form input[type=text]{
    border-bottom: 1px solid var(--border);
    padding: 5px 0;
    width: 280px;
    margin-bottom: 30px;
}
.slider-block__text__form input[type=text]:nth-of-type(2){
    margin-bottom: 45px;
}
.slider-block__text__form input[type=text]:hover{
    border-bottom: 1px solid #fff;
    transition: all 150ms ease-out;
}
.slider-block__text__form input::placeholder{
    color: #fff;
}
  
.slider-block__text__form input:-ms-input-placeholder{
    color: #fff;
}  
.slider-block__text__form input::-ms-input-placeholder{
    color: #fff;
}
.slider-block__text__form input[type=submit]{
    text-align: center;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 16px 20px;
}
.slider-block__text__form  div{
    position: relative;
}
.slider-block__text__form__reset{
    position: absolute;
    width: 14px;
    height: 14px;
    content: '';
    display: block;
    left: 266px;
    top: 5px;
    background: url(../img/footer/3.png) no-repeat center;
}
@media(max-width: 767px){
    html{
        font-size: 12px;
    }
    .slider-block__img{
        display: none;
    }
    .slider-block__text__form input[type=text]{
        width: 100%;
    }
    .slider-block__text__form__reset{
        left: auto;
        right: 0;
    }
    .slider-block__content{
        padding: 10px 45px 26px 45px;
    }
}